<ion-header class="glass-header" [translucent]="true">
  <ion-toolbar class="custom-toolbar flex" color="white">
    <ion-buttons slot="start">
    </ion-buttons>

    <ion-title>
      <div class="toolbar-title">
        <img src="assets/icon/tree-icon.png" alt="TreePledge Logo" class="logo"/>
        <span class="sub-title">Lets's Plant!</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <app-tree-plating-form></app-tree-plating-form>
</ion-content>
