// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #4acd80;
  --ion-color-primary-rgb: 111, 207, 151;
  --ion-color-secondary: #27ae60;
  --ion-color-secondary-rgb: 39, 174, 96;
  --ion-color-tertiary: #dfffe0;
  --ion-color-tertiary-rgb: 223, 255, 224;

  --ion-background-color: #e6f5ea;
  --ion-text-color: #1e3d2f;

  --ion-color-step-50: #f0f9f2;
  --ion-color-step-100: #e6f5ea;
  --ion-color-step-150: #d9efe0;
  --ion-color-step-200: #cfe8d8;
}
